<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InventarioCxParadaService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
     <!--<add name="YepLogEntities" connectionString="metadata=res://*/DataBase.YepLogModel.csdl|res://*/DataBase.YepLogModel.ssdl|res://*/DataBase.YepLogModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=WIN1252;data source=localhost;initial catalog=c:\temp\ambiente\dados.fdb;user id=sysdba;password=masterkey&quot;" providerName="System.Data.EntityClient" />-->
     <add name="YepLogEntities" connectionString="metadata=res://*/DataBase.YepLogModel.csdl|res://*/DataBase.YepLogModel.ssdl|res://*/DataBase.YepLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-EDESOFT-A\TESTEFBSQL;initial catalog=c:\temp\ambiente\dbo;persist security info=True;user id=TesteFBSQL;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <InventarioCxParadaService.Properties.Settings>
      <setting name="InventarioCxParadaService_YepLogWebReference_ActionToolUi"
        serializeAs="String">
        <value>http://192.168.1.28:85/ActionTool.asmx</value>
      </setting>
    </InventarioCxParadaService.Properties.Settings>
  </applicationSettings>
</configuration>